__pycache__/
*.pyc
.env
data/raw/*
data/processed/*
data/cache/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/cache/.gitkeep
*.csv
*.geojson
output/*.html
!src/web/templates/*.html
venv/
*.db
*.sqlite3
data/*.db
